<li [ngClass]="{'list-group-item': true, 
'list-group-item-succes': AppareilStatut==='allumer',
'list-group-item-danger':AppareilStatut==='eteint'}">
    <h4 [ngStyle]="{color: getColor()}"> Appareil {{ AppareilName }} -- Status {{getStatut()}}</h4>
    <a [routerLink]="[id]">Details</a>
    <button class="btn btn-success" 
    (click)="onSwitchOn()" 
    [disabled]="AppareilStatut === 'allumer'">allumer l'appareil</button>

    <button class="btn btn-danger" 
    (click)="onSwicthOff()" 
    [disabled]="AppareilStatut ==='eteint'">eteindre l'appareil</button>

</li>
