<a routerLink="/adduser">nouveaux users</a>
<ul class="list-group">
<li class="list-group-item" *ngFor="let user of users">
  <h3>{{user.firstname}}  {{user.lastname}}</h3>
  <p>{{user.email}}</p>
  <p>cette personne prefere le {{user.drinkpreference}}</p>
  <p *ngIf="user.hobbies && user.hobbies.length > 0 ">
    cette personne a des hobbies :
    <span *ngFor="let hobbies of user.hobbies">
      {{hobbies}} -
    </span>
  </p>
</li>
</ul>
