<div class="col-sm-8 col-sm-offset-2">
<form [formGroup]="userform" (ngSubmit)="onSubmitForm()">
  <div class="form-group">
    <label for="firstname">Prénom</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">nom</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname">
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="drinkpreference">quel est votre boisson préferé</label>
    <select name="drinkpreference" id="drinkpreference" class="form-control"
    formControlName="drinkpreference">
     <option value="coca">coca</option>
     <option value="fanta">fanta</option>
    </select>
  </div>
  <div formArrayName="hobbies">
     <h3> vos hobbies</h3>
     <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i=index">
      <input type="text" class="form-control" [formControlName]="i">
     </div>
     <button class="btn btn-succes"type="button" (click)="onAddHobbies()">nouvelle hobbies</button>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="userform.invalid">Soumettre</button>
</form>
</div>
