<div class="row">
 <div class="col-sm-8 col-sm-offset-2">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="form-group">
      <label for="name">
       nom de l'appareil
      </label>
      <input type="text" id="name" class="form-control" name="name" ngModel required>
     </div>
       <div class="form-group">
         <label for="status">
           status de l'appareil
          </label>
          <select name="status" id="status" class="form-control" [ngModel]="defaultOnOff">
           <option value="allumé">allumé</option>
            <option value="eteint">eteint</option>
          </select>
       </div>

       <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
  </form>
 </div>
</div>
