<nav class="navbar-default">
 <div class="container-fluid">
  <ul class="nav navbar-nav">
   <li routerLinkActive="active"><a routerLink="auth">Authentification </a></li>
    <br>
   <li routerLinkActive="active"><a routerLink="appareils">les appareil</a></li>
   <br/>
   <li routerLinkActive="active"><a routerLink="edit"> ajout apparreil </a></li>
   <li routerLinkActive="active"><a routerLink="users"> utilisateur </a></li>
   
  </ul>
  <div class="navbar-right">
    <p> Vous etes connectée depuis {{seconde}} secondes</p>
  </div>
 </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
