
     <h2> Mes appareils</h2>

     <p> mis a jour le {{lastUpdate|async|date|uppercase}}</p>

     <div class="col-xs-12">
       <ul class="list-group">
         <app-appareils *ngFor="let appareil of appareils; let i = index"
          [indexOfAppareil]="i"
          [AppareilName]="appareil.name"
          [AppareilStatut]="appareil.status"
          [id]="appareil.id"></app-appareils>
       </ul>
       <button class="btn btn-succes" [disabled]="!isAuth" (click)="onAllumer()">
         tout allumée </button>
         <button class="btn btn-succes" [disabled]="!isAuth" (click)="onEteindre()">
           tout eteindre </button>
         <button class="btn btn-succes" [disabled]="!isAuth" (click)="onSave()">
            tout Enregistrer </button>
        <button class="btn btn-succes" [disabled]="!isAuth" (click)="onFetch()">
              charger </button>
     </div>

